@{
    ViewBag.Title = "Menú";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Farmacia DOS</h1>
        <p class="lead">Medicinas al dos</p>
    </section>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><button type="button" class="btn btn-link" onclick="window.location.href='@Url.Action("Index", "Home")'">Inicio</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='@Url.Action("Index", "Pedido")'">Pedidos</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='@Url.Action("Index", "Cliente")'">Clientes</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='@Url.Action("Index", "Producto")'">Productos</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='@Url.Action("Index", "Sucursal")'">Sucursales</button></li>
            </ul>
        </div>
    </div>



</main>